language: node_js
# 4.3.2 is what AWS Lambda currently uses
node_js:
  - "5"
  - "4.3.2"

before_install: if [[ `npm -v` != 3* ]]; then npm i -g npm@3; fi

# For code coverage:
after_success:
   cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
